.body-wizard-container{
  padding: 1rem 4rem;
  height: 70%;
}
.body-wizard-title hr{
  width: 2rem;
  text-align: right;
  border:var(--fourth-color) solid 2px;
  margin: -10px 0px 0px 0px;
}
.body-wizard-card-container{
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
.card-container{
  width: 20rem;
  text-align: center;
}
.section-container{
  width: 90%;
}