:root {
  --first-color: #002B45;
  --secondth-color: #FF0049;
  --third-color: #cad3da;
  --fourth-color:  #20c1e0;
  --fifth-color: #768c9b;
  --white-color: #FFF1E5;


  --seventh-color: #18becd;
  --eigth-color: #ffffff;
  --ninth-color: #008088;
  --tenth-color: #FF4C4C;
}