@import "./styles/WizardCCOpenClose/wizard-cc-open-close.css";
@import "./styles/Forms/form.css";
@import "./styles/Feedback/feedback.css";
@import "./styles/colors.css";
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

