<div id="header">
  <div id="1">1</div>
  <div id="2">2</div>
  <div id="3">3</div>
</div>

<div id="body">

  <div id="title">
    <h3>Crea tu Pasword Manager</h3>
    <hr>
  </div>

  <div id="form-password-manager">

    <div id="inputs-password">

      <div id="item-input">
        <label for="password">Crea tu Contraseña Maestra</label>
        <div id="form-control">
          <input type="password" placeholder="Inserte tu contraseña">
          <em>ver-contraseña</em>
        </div>
      </div>

      <div id="item-input">
        <label for="password">Repite tu Contraseña Maestra</label>
        <div id="form-control">
          <input type="password" placeholder="Repite tu contraseña">
          <em>ver-contraseña</em>
        </div>
      </div>
    
    </div>

    <div id="input pista">
      <p>También puedes crear una pista que te ayude a recordad tu contraseña maestra.</p>
      <label for="pista">Crea tu pista para recordar tu contraseña (opcional)</label><em>Exclamacion</em>
      <input type="text" placeholder="Introduce tu pista">
    </div>

  </div>

</div>

<div id="footer-button">
  <button id="cancelar">Cancelar</button>
  <button id="siguiente">Siguiente</button>
</div>
<div>Icons made by <a href="https://www.flaticon.local/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.local/" title="Flaticon">www.flaticon.local</a></div>